div.editable-field-container,
td.editable-field-container {
    h5.editable-title,
    span.editable-title {
        cursor: pointer;
        height: 38px;

        transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        &:hover {
            box-shadow:
                -4px -1px 0 1px $border-color,
                 4px 1px 0 1px $border-color;

            color: $primary;
        }
    }

    input.editable-input {
        min-width: 200px;
    }
}