div.editable-field-container,
td.editable-field-container {
    div > h5.editable-title,
    div > span.editable-title {
        cursor: pointer;
        min-height: 34px;
        border-color: transparent!important;
        transition:
            color 0.2s ease-in-out,
            padding 0.2s ease-in-out,
            border-color 0.2s ease-in-out;

        &:hover {
            @extend .px-2;
            @extend .border-opacity-100;

            color: $primary;
            border-color: $border-color!important;
        }
    }

    input.editable-input {
        min-width: 200px;
    }
}