nav.nav-menu {
    background: #f5f7f9;
    min-width: 300px;

    > a.logo {
        color: $primary;
        text-decoration: none;

        &:hover {
            color: darken($primary, 10%);
        }
    }

    hr {
        color: $secondary;
    }
}