@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
nav.nav-menu {
  background: #f5f7f9;
  min-width: 300px;
}
nav.nav-menu > a.logo {
  color: #FF6200;
  text-decoration: none;
}
nav.nav-menu > a.logo:hover {
  color: #cc4e00;
}
nav.nav-menu hr {
  color: #172B53;
}