nav.nav-menu {
  background: #f5f7f9;
  min-width: 350px;
}
nav.nav-menu > a.logo {
  color: #FF6200;
  text-decoration: none;
}
nav.nav-menu > a.logo:hover {
  color: #cc4e00;
}
nav.nav-menu hr {
  color: #172B53;
}