i.fa-piggy-bank {
    color: $primary;
}

div.budget-card {
    transition: all 0.15s ease-in-out;

    &:hover {
        @extend .shadow-sm;
        
        filter: brightness(97%);
    }

    &:active {
        filter: brightness(92%);
    }
}