i.fa-piggy-bank {
    color: $primary;
}

div.budget-card {
    transition: all 0.15s ease-in-out;

    &:hover {
        @extend .shadow-sm;
        
        filter: brightness(97%);
    }

    &:active {
        filter: brightness(92%);
    }
}

// Consider moving this to BudgetOffcanvas.razor.scss
div.budget-grid-header {
    height: 40px;
    font-weight: 600;
    background-color: $gray-200;
}

div.budget-grid-row {
    height: 40px;
    border-bottom: 1px solid $border-color;
    transition: background-color 0.2s ease;
    
    &:hover {
        background-color: $gray-100;
    }
}
