@import "custom";
@import "vendor/bootstrap/scss/bootstrap";

@import "../../Components/Layout/MainLayout.razor.scss";
@import "../../Components/Pages/Budgets.razor.scss";
@import "../../Components/Shared/BudgetCard.razor.scss";