// @use "variables" as *;
// @use "vendor/bootstrap/scss/bootstrap" with (
//   $font-family-sans-serif: ("Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif)
//);

@import "variables";
@import "vendor/bootstrap/scss/bootstrap";

@import "../../Components/Layout/MainLayout.razor.scss";
@import "../../Components/Pages/Budgets.razor.scss";